<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.masteringselenium.demo.mastering_selenium_testng.AppTest"/>
      <class name="com.masteringselenium.demo.NewTest"/>
      <class name="TestNGConceptsNaveen.TestNGBasics"/>
      <class name="TestNGConceptsNaveen.GoogleTest"/>
      <class name="com.masteringselenium.demo.Test1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
